@{
}
@model OrderModel

<form asp-action="Edit" asp-controller="Order" method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    
    <input asp-for="Id" type="hidden" />

    <div class="form-group">
        <div class="col-sm-4">
            <label asp-for="CustomerName">CustomerName</label>
            <input asp-for="CustomerName" class="form-control" placeholder="" type="text" />
            <span asp-validation-for="CustomerName" class="text-danger"></span>
        </div>
    </div>

    <input type="submit" value="Save" />
</form>
