@{
    ViewData["Title"] = "Add new customer";
}
@model CustomerModel

<form asp-action="Add" asp-controller="Customer" method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    @Html.Partial("_AddEdit.cshtml", Model)

    <input type="submit" value="Save" />
</form>
