@{
    ViewData["Title"] = "Edit customer";
}
@model CustomerModel

<form asp-action="Edit" asp-controller="Customer" method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    
    <input asp-for="Id" type="hidden" />

    @Html.Partial("_AddEdit.cshtml", Model)

    <input type="submit" value="Save" />
</form>
