@{
}
@model List<TestModel>

<div class="row">
    <div class="col-12">
        <a asp-controller="Test" asp-action="Add" class="btn">Add new Test</a>
    </div>
</div>

@foreach (var item in Model)
{
    <div style="float: left">@item.Name</div>
    <div style="float: left; padding-left: 5em;">@item.LastName</div>
    <div style="float: left; padding-left: 5em;"><a asp-action="Edit" asp-controller="Test" asp-route-id="@(item.Id)">edit</a></div>
}